.footer-wrp{

}
.ftr-top{
	padding-left: 80px;
	padding-right: 60px;
	padding-top: 40px;
	padding-bottom: 74px;
	background: #12a19a;
	color: #fff;
}
.ftr-top-col{
	float: left;
	padding-right: 10px;
}
.ftr-top-col-01{
	max-width: 326px;
	width: 100%;
	padding-top: 40px;

}
.ftr-top-col-03{
	max-width: 335px;
	width: 100%;
	float: right;
}
.ftr-top-col-02{
	max-width: 326px;
	width: 100%;
	padding-top: 40px;
}
.ftr-top-col:last-child{
	padding-right: 0;
}
.ftr-top-col-title{
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	font-size: 17px;
	text-transform: uppercase;
	margin-bottom: 20px;
	line-height: 1;
}
.ftr-top-col ul li{
	padding: 2px 0;
	display: inline-block;
}
.ftr-top-col-01 ul{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.ftr-top-col-01 ul li{
	width: 50%;
	padding-right: 10px;
}
.ftr-top-col ul li:first-child{
	padding-top: 0;
}
.ftr-top-col-01 ul li:last-child{
	width: 100%;
	display: block;
}
.ftr-top-col ul li a{
	display: inline-block;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	text-transform: capitalize;
	color: #fff;
	line-height: 1;
}

.ftr-top-col-logo{
	margin-bottom: 22px;
}
.ftr-top-col-logo a{
	display: inline-block;
}
.ftc-dtls-col a{
	color: #fff;
	display: inline-block;
}
.ftr-top-col-details{
	display: flex;
	flex-wrap: wrap;
}
.ftc-dtls-col{
	width: 50%;
}
.ftc-dtls-col:nth-child(2n+1){
	padding-right: 10px;
}
.ftc-dtls-col-title{
	padding-left: 15px;
	position: relative;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	margin-bottom: 5px;
	line-height: 1;
	font-size: 11px;
	font-weight: 900;
}
.ftc-dtls-col a{
	display: block;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	line-height: 1;
	margin-bottom: 0;
	color: #fff;
}
.ftc-dtls-addr.ftc-dtls-col a{
	line-height: 1.3;
}
.ftc-dtls-col-title:after{
	content: "";
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	left: 0;
	background-image: url('../images/ftr-tel-icon.png');
	background-repeat: no-repeat;
	background-size: contain;
	width: 8px;
	height: 10px;
}
.ftc-dtls-addr .ftc-dtls-col-title:after{
	background-image: url('../images/ftr-place-icon.png');
	width: 10px;
	height: 10px;
}
.ftc-dtls-mail .ftc-dtls-col-title:after{
	background-image: url('../images/ftr-mail-icon.png');
	width: 12px;
	height: 8px;
}
.ftc-dtls-mail .ftc-dtls-col-title{
	padding-left: 18px;
}

.ftr-btm{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding: 40px 54px;
}
.ftr-btm-bank-icons,
.ftr-btm-menu{
	margin-left: auto;
	padding-left: 10px;
}
.ftr-btm-copyright{

}
.ftr-btm-copyright p{
	margin-bottom: 0;
	font-size: 14px;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 300;
	color: #4f4f4f;
}
.ftr-btm-menu ul{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin: 0 -34px;
}
.ftr-btm-menu ul li{
	padding: 0 34px;
	position: relative;
}
.ftr-btm-menu ul li:after{
	position: absolute;
	content: "";
	right: 0;
	top: 50%;
	transform: translate(50%,-50%);
	-ms-transform: translate(50%,-50%);
	-webkit-transform: translate(50%,-50%);
	-o-transform: translate(50%,-50%);
	height: 12px;
	width: 1px;
	background: #71bfb2;
}
.ftr-btm-menu ul li:last-child:after{
	display: none;
	content: none;
}
.ftr-btm-menu ul li a{
	display: inline-block;
	font-size: 14px;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 300;
	color: #4f4f4f;
}

/*responsive*/
@media(max-width: 1599px){
	.ftr-top-col-01{
		max-width: 290px;
		padding-top: 25px;
	}
	.ftr-top-col-02{
		max-width: 200px;
		padding-top: 25px;
	}
	.ftr-top {
		padding-left: 40px;
		padding-right: 30px;
		padding-top: 30px;
		padding-bottom: 44px;
	}
	.ftr-top-col-logo a{
		max-width: 200px;
		width: 100%;
		height: auto;
	}
	.ftr-btm{
		padding: 30px 40px;
	}
	.ftr-btm-menu ul{
		margin: 0 -20px;
	}
	.ftr-btm-menu ul li{
		padding: 0 20px;
	}
}
@media(max-width: 1399px){
	
}
@media(max-width: 1299px){
	
}
@media(max-width: 1199px){
	.ftr-top-col-logo a{
		max-width: 180px;
	}
	.ftr-top-col ul li a,
	.ftc-dtls-col a{
		font-size: 13px;
	}
	.ftr-btm{
		padding: 20px 20px;
	}
	.ftr-btm-menu ul{
		margin: 0 -12px;
	}
	.ftr-btm-menu ul li{
		padding: 0 12px;
	}
}
@media(max-width: 991px){
	.ftr-top-col-01{
		max-width: 250px;
		padding-top: 15px;
	}
	.ftr-top-col-02{
		max-width: 135px;
		padding-top: 15px;
	}
	.ftr-top {
		padding-left: 15px;
		padding-right: 15px;
		padding-top: 20px;
		padding-bottom: 30px;
	}
	.ftr-top-col-logo a{
		max-width: 160px;
	}
	.ftr-top-col-title,
	.ftr-top-col-logo{
		margin-bottom: 12px;
	}
	.ftr-top-col-03{
		max-width: 300px;
	}
	.ftr-top-col-01{
		max-width: 225px;
		padding-right: 15px;
	}
	.ftr-btm-bank-icons img{
		display: inline-block;
		max-width: 220px;
	}
	.ftr-btm-menu{
		display: none;
	}
	.ftr-btm{
		padding-left: 0;
		padding-right: 0;
	}
	.ftr-btm-bank-icons{
		display: block;
		width: 100%;
		margin-bottom: 10px;
		order: 1;
		width: 100%;
		padding: 0;
		text-align: center;
	}
	.ftr-btm-copyright{
		display: block;
		width: 100%;
		order: 2;
		width: 100%;
		text-align: center;
	}
}
@media(max-width: 767px){
	.ftr-top{
		padding-left: 30px;
		padding-top: 30px;
	}
	.ftr-top-col{
		float: initial;
		max-width: 100%;
		padding-top: 0;
		padding-right: 0;
		margin-bottom: 70px;
	}
	.ftr-top-col:last-child,
	.ftc-dtls-col:last-child{
		margin-bottom: 0;
	}
	.ftr-top-col-01 ul{
		display: block;
	}
	.ftr-top-col ul li{
		display: block;
		width: 100%;
		padding: 7px 0;
	}
	.ftr-top-col-details{
		display: block;
	}
	.ftc-dtls-col{
		width: 100%;
		margin-bottom: 25px;
	}
	.ftr-top-col-title.fl-h6{
		font-size: 37px;
		margin-bottom: 40px;
	}
	.ftr-top-col ul li a{
		font-size: 31px;
	}
	.ftc-dtls-col-title{
		font-size: 25px;
	}
	.ftc-dtls-col a{
		font-size: 32px;
	}
}
@media(max-width: 575px){
	.ftr-top{
		margin: 0 -7px;
	}
	.ftr-top{
		padding-left: 15px;
	}
	.ftc-dtls-col-title{
		font-size: 23px;
	}
	.ftc-dtls-col a{
		font-size: 27px;
	}
}
@media(max-width: 479px){
	
}

