body{
	position: relative;
}
.fixed-contact{
	position: absolute;
	right: 0;
	top: 10%;
}
.fixed-contact-inr ul li{
	padding-bottom: 5px;
}
.fixed-contact-inr ul li a,
.xs-contact ul li a{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 45px;
	width: 50px;
	background: #12a19a;
}
.fixed-contact-inr ul li a:hover{
	background: #3c3c3b;
}
header.header{
	border-top: 3px solid #ebebeb;
}

.header-inr{
	margin-bottom: 30px;
	display: flex;
}
.hdr-lft{
	padding-top: 25px;
}
.hdr-rgt{
	margin-left: auto;
}

.logo{
	display: flex;
	align-items: center;
}
.logo a{
	display: inline-block;
	vertical-align: baseline;
}
.logo span{
	display: inline-block;
	vertical-align: baseline;
	margin-left: 40px;
	font-size: 24px;
}
.hdr-rgt nav.main-nav{
	background: #e5e5e5;
	border-top: 3px solid #e5e5e5;
	text-align: right;
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 10px;
}


nav.main-nav ul{

}
nav.main-nav > ul > li{
	display: inline-block;
	vertical-align: baseline;
	padding-left: 10px;
	padding-right: 10px;
	position: relative;
}
nav.main-nav > ul > li:after{
	content: "";
	position: absolute;
	left: 0;
	top: 50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	width: 2px;
	height: 9px;
	background: #9c9c9c;
	margin-top: -2px;
}
nav.main-nav > ul > li:first-child:after{
	content: none;
}
nav.main-nav ul li:last-child{
	padding-right: 18px;
}
nav.main-nav > ul > li.cart strong{
	position: absolute;
	top: -4px;
	right: 4px;
	background: #cb0b14;
	color: #fff;
	font-size: 7px;
	line-height: 1;
	padding: 2px 2px;
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
}
nav.main-nav > ul > li > a{
	display: inline-block;
	vertical-align: baseline;
	font-size: 17px;
	color: #323032;
	padding-bottom: 10px;
}

nav.main-nav > ul > li:hover > a{
	color: #12a19a;
}


nav.main-nav > ul > li.menu-item-has-children ul.sub-menu{
	position: absolute;
    top: 100%;
    left: 0;
    min-width: 150px;
    padding: 0 0;
    background: #3c3c3b;
    transform: scale3d(1,0,1);
    -ms-transform: scale3d(1,0,1);
    -webkit-transform: scale3d(1,0,1);
    transition: all .5s;
    -ms-transition: all .5s;
    -webkit-transition: all .5s;
    transform-origin: top;
    -ms-transform-origin: top;
    -webkit-transform-origin: top;
    opacity: 0;
    z-index: 11;
    text-align: left;
}
nav.main-nav > ul > li.menu-item-has-children:hover ul.sub-menu{
	transform: scale3d(1,1,1);
    -ms-transform: scale3d(1,1,1);
    -webkit-transform: scale3d(1,1,1);
    opacity: 1;
}

nav.main-nav > ul > li.menu-item-has-children ul.sub-menu > li{
	padding: 5px 10px;
	display: block;
	text-align: left;
	border-bottom: 1px solid #fff;
	position: relative;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu > li:last-child{
	border-bottom: none;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu > li:after{
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	display: block;
	border-left: 2px solid #fff;
	width: 2px;
	left: 0;
	transform: scale(1,0);
	-webkit-transform: scale(1,0);
	-ms-transform: scale(1,0);
	transition: all 0.5s ease-out 0s;
	-webkit-transition: all 0.5s ease-out 0s;
	-ms-transition: all 0.5s ease-out 0s;
	height: 100%;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu > li:hover:after{
	transform: scale(1,1);
	-webkit-transform: scale(1,1);
	-ms-transform: scale(1,1);
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu > li > a{
	font-size: 15px;
	line-height: 1;
	font-weight: 300;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-ms-transition: all 0.5s;
	padding-bottom: 0;
	color: #fff;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu > li > a:hover{
	opacity: 0.9;
}



.categories-sec-int ul{
	margin-left: -7px;
	margin-right: -7px;
}
.categories-sec-int ul li{
	display: inline-block;
	vertical-align: baseline;
	padding-left: 7px;
	padding-right: 7px;
	padding-bottom: 15px;
}
.categories-sec-int ul li a{
	display: inline-block;
	vertical-align: baseline;
	padding: 8px 8px;
	background: #12a19a;
	color: #fff;
	font-size: 29px;
	font-weight: 700;
	line-height: 1;
	text-transform: uppercase;
	border: 1px solid #12a19a;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-ms-transition: all 0.3s;
}
.categories-sec-int ul li a:hover{
	background: #3c3c3b;
	border-color: #3c3c3b;
}

@media(max-width: 1599px){

}
@media(max-width: 1399px){
	.logo a{
		max-width: 200px;
		width: 100%;
	}
	.logo span{
		margin-left: 25px;
	}
	nav.main-nav ul li{
		padding-left: 8px;
    	padding-right: 8px;
	}
	nav.main-nav ul li:last-child {
	    padding-right: 10px;
	}
	nav.main-nav > ul > li > a{
		font-size: 16px;
	}
}
@media(max-width: 1199px){
	.hdr-lft {
	    width: 35%;
	}
	.hdr-rgt {
	    width: 65%;
	}
	.logo{
		display: block;
	}
	.logo a{
		display: block;
	}
	.logo span{
		display: block;
		margin-left: 0;
		margin-top: 17px;
	}
	.logo a {
	    max-width: 250px;
	    width: 100%;
	}
	.categories-sec-int ul li a{
		font-size: 25px;
	}
}
@media(max-width: 991px){
	.hdr-lft{
		padding-top: 12px;
		border-top: none;
	}
	.header-inr {
	    margin-bottom: 20px;
	}
	.hdr-rgt{
		display: none;
	}
	.hdr-lft {
	    width: 100%;
	    display: flex;
	    align-items: center;
	}
	.xs-contact{
		margin-left: auto;
	}
	.xs-contact ul{
		display: flex;
		margin-left: -7px;
		margin-right: -7px;
	}
	.xs-contact ul li{
		padding-left: 7px;
		padding-right: 7px;
	}

	.xs-menu-wrap{
		margin-bottom: 30px;
	}
	.xs-menu-inr{
		display: flex;
		align-items: center;
	}
	.xs-btn{
		background: #f5f4f4;
		width: 80%;
	}
	.xs-btn-inr a{
		display: inline-block;
		vertical-align: baseline;
		font-size: 29px;
		line-height: 1;
		font-weight: 700;
		color: #fff;
		text-transform: uppercase;
		padding: 10px 10px;
		background: #6f6f6f;
		border-right: 10px solid #fff;
	}
	.xs-btn-inr a:hover{
		background: #12a19a;
	}
	.xs-hambergar-ctlr{
		margin-left: auto;
		width: 20%;
		padding: 10px 10px;
		background: #12a19a;
		border-left: 10px solid #fff;
	}
	.xs-hambergar{
		display: flex;
		align-items: center;
	}
	.hambergar-icon{
		position: relative;
		width: 19px;
		height: 15px;
	}
	.hambergar-icon span{
		position: absolute;
		content: "";
		top: 0;
		right: 0;
		left: 0;
		height: 3px;
		background: #fff;
	}
	.hambergar-icon span:nth-child(2){
		top: 6px;
	}
	.hambergar-icon span:nth-child(3){
		top: 12px;
	}
	/*.cross-icon.hambergar-icon span:nth-child(1){
		top: 12px;
		transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		-o-transform: rotate(45deg);
	}
	.cross-icon.hambergar-icon span:nth-child(2){
		top: 12px;
		transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
	}
	.cross-icon.hambergar-icon span:nth-child(3){
		content: none;
		display: none;
	}*/
	/*.xs-close-btn-icon{
		position: relative;
		width: 19px;
		height: 15px;
	}
	.xs-close-btn-icon span{
		position: absolute;
		content: "";
		top: 0;
		right: 0;
		height: 3px;
		background: red;
		transform: rotate(45deg);
    	top: 10px;
	}
	.xs-close-btn-icon span:last-child{
		transform: rotate(-45deg);
	}*/
	.xs-hambergar strong{
		display: inline-block;
		vertical-align: baseline;
		font-size: 29px;
		line-height: 1;
		font-weight: 700;
		color: #fff;
		text-transform: uppercase;
		margin-left: 10px;
	}
	.xs-menu-ctlr{
		display: block!important;
		max-width: 375px!important;
		width: 100%;
		padding: 40px 40px;
		position: fixed;
		top: 0;
		bottom: 0;
		right: -375px;
		width: 0;
		opacity: 0;
		background: #12a19a;
		color: #fff;
		z-index: 99;
		overflow: hidden;
		height: 100vh;
		transition: all 0.5s ease-out;
		-webkit-transition: all 0.5s ease-out;
		-ms-transition: all 0.5s ease-out;
		overflow-y: auto;
		text-align: right;
	}
	.allWork .bdoverlay{
		z-index: 999;
		opacity: 1;
	}
	.bdoverlay{
		background: rgba(0,0,0,0.8);
		position: fixed;
		opacity: 0;
		z-index: -1;
		transition: all 0.3s;
		-webkit-transition: all 0.3s;
		-ms-transition: all 0.3s;
	}
	.allWork .xs-menu-ctlr{
		right: 0;
		width: 100%;
		opacity: 1;
	}
	body.allWork{
		overflow: hidden;
	}
	.allWork .hambergar-icon span{
		transform: rotate(45deg);
    	top: 10px;
    	left: initial;
    	right: 0;
	}
	.allWork .hambergar-icon span:nth-child(2){
		display: none;
	}
	.allWork .hambergar-icon span:nth-child(3){
		transform: rotate(-45deg);
	}
	/*.active-scroll-off .xs-show{
		display: none!important;
	}
	.active-scroll-off .xs-cls{
		display: block!important;
	}*/
	.xs-menu-ctlr nav.main-nav > ul > li{
		display: block;
		text-align: center;
	}
	.xs-menu-ctlr nav.main-nav > ul > li:after{
		content: none;
	}
	.xs-menu-ctlr nav.main-nav > ul > li.menu-item-has-children ul.sub-menu{
		position: static;
		background: transparent;
		transform: none;
		transition: none;
		opacity: 1;
		display: none;
		width: 100%;
	}
	.xs-menu-ctlr nav.main-nav > ul > li.menu-item-has-children ul.sub-menu > li{
		text-align: center;
	}
	.xs-menu-ctlr .ftr-top-col-01{
		max-width: 100%;
		padding: 0;
	}
	.xs-menu-ctlr .ftr-top-col-dul{
	    display: block;
	    text-align: right;
	}
	.xs-menu-ctlr .ftr-top-col-dul ul{
		width: 100%;
	}
	.mobile-menu-ctlr{
		display: inline-block;
		vertical-align: baseline;
	}
}
@media(max-width: 767px){
	.xs-btn {
	    width: 75%;
	}
	.xs-hambergar-ctlr{
		width: 25%;
	}
}
@media(max-width: 575px){
	.xs-btn {
	    width: 70%;
	}
	.xs-hambergar-ctlr{
		width: 30%;
	}
}
@media(max-width: 479px){
	.xs-btn {
	    width: 52%;
	}
	.xs-hambergar-ctlr{
		width: 48%;
	}
}
@media(max-width: 359px){
	.hdr-lft{
		display: inline-block;
		vertical-align: baseline;
	}
	.logo{
		display: inline-block;
		vertical-align: baseline;
		max-width: 160px;
		width: 100%;
		padding-right: 20px;
	}
	.logo span{
		font-size: 15px;
		margin-top: 5px;
	}
	.xs-contact{
		display: inline-block!important;
		vertical-align: baseline;
	}
	.xs-contact.show-md{
		display: inline-block!important;
	}
}
