.fl-product-grd-2 .fl-product-grd{
	padding: 8px 7px;	
}
.fl-product-grd-2 .fl-product-grd-inr{
	padding: 0;
	background-color: #f5f4f4;
	height: 100%;
	padding: 14px;
}
.fl-pro-grd-des > ul{

}
.fl-pro-grd-des > ul > li{
	padding-left: 9px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 18px;
	position: relative;
	line-height: 1.3;
}
.fl-pro-grd-des > ul > li:after{
	content: "";
	position: absolute;
	background-image: url('../images/homepage-li-dash.png');
	background-repeat: no-repeat;
	width: 4px;
	height: 2px;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
}
.home .fl-pro-grd-heading .fl-pro-grd-title a{
	text-transform: initial;
}
.fl-product-grd-2 .fl-pro-grd-title{
	margin-bottom: 10px;
}
/* 
breadcrumb
*/
.breadcrumb-sec{
	padding-top: 8px;
	padding-bottom: 22px;
}
.breadcrumb-cntlr{
	padding-left: 9px;
}
.breadcrumb-cntlr ul {
	display: flex;
	align-items: center;
	margin: 0 -7px;
}
.breadcrumb-cntlr ul li{
	padding: 0 7px;
	position: relative;
	line-height: 11px;
}
.breadcrumb-cntlr ul li:not(:last-child):after{
	position: absolute;
	content: "";
	width: 4px;
	height: 4px;
	background-image: url('../images/brdcum-arrow.png');
	background-repeat: no-repeat;
	right: 0;    
    top: 50%;
    margin-top: 2px;
    transform: translate(50%, -50%);
    -webkit-transform: translate(50%, -50%);
    -ms-transform: translate(50%, -50%);
}
.breadcrumb-cntlr ul li span{
	color: #656564;
	font-size: 14px;
	line-height: 11px;
	display: inline-block;
	vertical-align: baseline;
}
.breadcrumb-cntlr ul li span:hover, .breadcrumb-cntlr ul li.active span{
	color: #12a19a;
}
.home .entry-hrd-sec{
	padding-top: 56px;
	padding-bottom: 174px;
}

@media(max-width: 1399px) {

}

@media(max-width: 1199px) {

}

@media(max-width: 991px) {

}

@media(max-width: 767px) {

}

@media(max-width: 639px) {

}

@media(max-width: 575px) {

}

@media(max-width: 479px) {
	.breadcrumb-sec{
		padding-bottom: 18px;
	}
}