body.archive.post-type-archive .page-content-sec {
    padding-bottom: 10px;
}

.page-content-cntrl{
	color: #727272;
}
.page-content-cntrl h2{
	line-height: 1.1;
	margin-bottom: 15px;
}
.page-content-cntrl p{
	line-height: 1.2;
}
.page-content-cntrl p:last-of-type{
	margin-bottom: 0;
}
.page-content-sec{
	padding-bottom: 34px;
}

.product-category{
	padding-bottom: 23px;
}
.fl-product-grd{
	border: 1px solid #ebebeb;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.fl-product-grd .out-of-stock{
	position: absolute;
    width: 100px!important;
    height: 30px!important;
    background: #12a19a!important;
    color: #fff!important;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 12px!important;
    line-height: 1!important;
    font-weight: 700!important;
    z-index: 11;
    right: 15px!important;
    top: 15px!important;
    border-radius: 0!important;
    padding-top: 2px!important;
    margin: 0!important;
    min-height: auto!important;
}
.woocommerce span.onsale{
	z-index: 11;
}
.fl-products-cntlr ul.products{
	display: flex;
    flex-wrap: wrap;
    margin: 0 -7px!important;
}
.fl-products-cntlr ul.products > li{
	width: 25%!important;
    padding: 0 7px 14px!important;
    margin: 0!important;
}
.fl-pro-grd-img-cntlr{
	padding: 10px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	overflow: hidden;
}
.fl-pro-grd-img-cntlr img{
	max-height: 220px!important;
	width: auto!important;
}
.fl-product-grd:hover{
	border-color:#3c3c3b;
}
.fl-product-grd-inr:hover .fl-pro-grd-img-cntlr img{
	transform: scale(1.1);
	-ms-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-o-transform: scale(1.1);
}
.fl-product-grd-inr{
	padding: 8px 7px;
	height: 100%;
}
.fl-pro-grd-price{
	padding-bottom: 4px;
	padding-left: 14px;
	padding-right: 14px;
}
.fl-pro-grd-price,
.fl-pro-grd-price del span.woocommerce-Price-amount bdi span,
.fl-pro-grd-price ins span.woocommerce-Price-amount bdi, 
.fl-pro-grd-price ins span.woocommerce-Price-amount bdi span{
	color: #727272;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 700;
}
.fl-pro-grd-price span.woocommerce-Price-amount bdi span,
.fl-pro-grd-price del span.woocommerce-Price-amount bdi span{
	font-size: 10px!important;
	margin-right: 5px;
	text-transform: uppercase;
}
.fl-pro-grd-price del span.woocommerce-Price-amount bdi{
	margin-right: 5px;
}
.fl-pro-grd-price span.woocommerce-Price-amount bdi,
.fl-pro-grd-price del span.woocommerce-Price-amount bdi, 
.fl-pro-grd-price del span.woocommerce-Price-amount bdi span, 
.fl-pro-grd-price ins span.woocommerce-Price-amount bdi, 
.fl-pro-grd-price ins span.woocommerce-Price-amount bdi span{
	font-size: 21px;
	position: relative;
}
.fl-pro-grd-price del span.woocommerce-Price-amount bdi:after{
	position: absolute;
    content: "";
    background: #727272;
    width: 100%;
    height: 1px;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.fl-pro-grd-heading{
	background: #f5f4f4;
	padding: 14px;
}
.fl-pro-grd-heading .fl-pro-grd-title{
	margin-bottom: 4px;
	line-height: 1.1;
}
.fl-pro-grd-title a,
.fl-pro-grd-title{
	color: #6f6f6f;
	text-transform: capitalize;
	letter-spacing: -0.02em;
}
.fl-pro-grd-title a:hover{
	color: #12a19a;
}
.fl-pro-grd-heading p{
	margin-bottom: 0;
	color: #7b7b7b;
	font-size: 18px;
}
.pb{
	padding-bottom: 198px;
}
.fl-products-cntlr .products bdi span.woocommerce-Price-currencySymbol{
	display: none;
}
.woocommerce-pagination{
	padding-top: 20px;
}
.woocommerce nav.woocommerce-pagination ul li{
	font-size: 18px;
}
/* ================= */
/* == responsive == */
/* =============== */

@media(max-width: 1699px) {
	.pb{
		padding-bottom: 188px;
	}
}

@media(max-width: 1599px) {
	.fl-pro-grd-heading .fl-pro-grd-title,
	.fl-product-grd-2 .fl-pro-grd-title{
		font-size: 33px;
	}
	.fl-pro-grd-des > ul > li{
		font-size: 17px;
	}
	.fl-pro-grd-des > ul > li:after{
		top: 11px;
	}
}

@media(max-width: 1399px) {
	.fl-pro-grd-heading .fl-pro-grd-title,
	.fl-product-grd-2 .fl-pro-grd-title{
		font-size: 31px;
	}
	.fl-pro-grd-des > ul > li{
		font-size: 16px;
	}
	.home .page-content-sec{
		padding-bottom: 164px;
	}
	.fl-pro-grd-des > ul > li:after{
		top: 10px;
	}
	.pb{
		padding-bottom: 178px;
	}
}

@media(max-width: 1199px) {
	.fl-pro-grd-heading .fl-pro-grd-title,
	.fl-product-grd-2 .fl-pro-grd-title{
		font-size: 28px;
	}
	.fl-product-grd-2 .fl-product-grd{
		padding: 8px 5px
	}
	.pb{
		padding-bottom: 168px;
	}
}

@media(max-width: 991px) {
	.fl-products-cntlr ul.products{
		margin: 0 -6px!important;
	}
	.fl-products-cntlr ul.products > li{
		width: 33.3333%!important;
		padding: 0 6px 14px!important;
	}
	.fl-pro-grd-heading .fl-pro-grd-title,
	.fl-product-grd-2 .fl-pro-grd-title{
		font-size: 25px;
	}
	.home .page-content-sec{
		padding-bottom: 154px;
	}
	.pb{
		padding-bottom: 158px;
	}
}

@media(max-width: 767px) {
	.fl-products-cntlr ul.products{
		margin: 0 -5px!important;
	}
	.fl-products-cntlr ul.products > li{
		padding: 0 5px 14px!important;
	}
	.fl-pro-grd-heading .fl-pro-grd-title,
	.fl-product-grd-2 .fl-pro-grd-title{
		font-size: 23px;
	}
	.home .page-content-sec{
		padding-bottom: 144px;
	}
	.home .page-content-cntrl h2{
		margin-bottom: 24px;
	}
	.fl-pro-grd-heading{
		padding: 13px;
	}
	.fl-pro-grd-heading p{
		font-size: 16px;
	}
	.fl-product-grd-2 .fl-product-grd-inr{
		padding: 13px;
	}
	.pb{
		padding-bottom: 148px;
	}	
	.fl-products-cntlr ul.products > li{
		width: 50%!important;
	}
}

@media(max-width: 639px) {
	.fl-products-cntlr ul.products > li{
		width: 50%!important;
	}
	.pb{
		padding-bottom: 138px;
	}
}

@media(max-width: 575px) {
	.home .page-content-sec{
		padding-bottom: 142px;
	}
	.home .page-content-cntrl h2{
		margin-bottom: 28px;
	}
	.pb{
		padding-bottom: 128px;
	}
}

@media(max-width: 479px) {
	.fl-products-cntlr ul.products{
		margin: 0!important;
	}
	.fl-products-cntlr ul.products > li{
		width: 100%!important;
		padding: 0 0 24px!important;
	}
	.home .page-content-sec{
		padding-top: 43px;
		padding-bottom: 142px;
	}
	.pb{
		padding-bottom: 100px;
	}	
}

@media(max-width: 375px) {

}