/**
All heading
*/
h1,h2,h3,h4,h5,h6{
	line-height: 1;	
	margin-top: 0;
	margin-bottom: 20px;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 700;
}
h1,.fl-h1{
	font-size: 43px;
}
h2,.fl-h2{
	font-size: 35px;
}
h3,.fl-h3{
	font-size: 34px;
}
h4,.fl-h4{
	font-size: 24px;
}
h5,.fl-h5{
	font-size: 20px;
}
h6,.fl-h6{
	font-size: 17px;
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
}
